/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('dummy.png'); /* Set background image */
    background-size: 100% 100%; /* Set background size to cover the entire screen */
    background-position: center; /* Center the background image */
    color: #fff; /* White text */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Align items with space in between */
    align-items: center;
}

.button-container {
    display: flex;
}

.button {
    color: #fff; /* White text color */
    background-color: #000; /* Black button background */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for color change */
    margin: 0 10px;
    text-transform: uppercase; /* Capitalize all button text */
}

.button:hover {
    background-color: #666; /* Grey background color on hover */
    color: #000; /* Black text color on hover */
}

h1 {
    font-size: 2em; /* Smaller title size */
    margin: 0; /* Remove default margin */
}

/* Additional styles for the white line and title positioning */
.title-container {
    display: flex;
    align-items: center;
}

.title {
    font-size: 2em;
    margin: 0;
    position: relative; /* Make the container for the line positioned */
}

.line {
    position: absolute; /* Position the line absolutely */
    bottom: -5px; /* Place the line slightly below the title */
    left: 0; /* Align the line with the container */
    width: 100%; /* Make the line span the entire width */
    height: 1px; /* Set the height of the line */
    background-color: #fff; /* White line color */
}

/* backspace.css */

.back-button {
    background-color: #000; /* Black button background */
    color: #fff; /* White text color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #444; /* Dark gray color on hover */
}
